.heartIcon {
    cursor: pointer;
    color: gray; /* Default color */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.heartIcon.filled {
    color: red; /* Color when the heart is filled */
}

.heartIcon.empty {
    color: gray; /* Color when the heart is not filled */
}

.wishlistIcon {
    position: absolute;
    top: 9px;
    /* z-index: 9999; */
    right: 10px;
    background-color: #fff;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catgoryMeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.catgoryMeta .progress-container {
    width: 238px;
    height: 14px;
    background: #dcdcd6;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 11px;
}

.videoCard {
    position: relative;
    min-height: 400px;
}
